/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    font-family: Consolas;
    box-sizing: border-box;
}

.main{
    width: 350px;
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    padding: 10px;
}

h1 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;    
}

p {
    font-size: .9em;
    color: #333;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
*/
}
.prompt {
    font-size: .9em;
    border-top: 1px solid #CCC;
    margin-top: 5px;
    padding-top: 10px
}
button {
    font-size: .9em;
    padding-top: 5px;
    background: none;
    /*background: #EEE;*/
    border: 1px solid #999;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    -webkit-transition: .1s;
    outline: none;


}

button:hover {
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

button:click {
    box-shadow: none;
}

.img-example {
    float: right;
}

.user-hint {
    padding-top: 15px;
    padding-bottom: 15px;
}
.intro-screen {
    padding: 100px;
    position: absolute;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.counters {
    position: absolute;
    top: 0px;
    left: 365px;
    width: 100px;
}

#holder {
    background-color: #EEE;
    height: 100vh;
    position: relative;
    margin-left: 350px;
    right: 0;
    width: calc(100% - 350px);
    border: 5px solid #FFF;
}

.text-red {
    color: #FF1919;
}

.text-blue {
    color: #195AFF;
}


.circle-red {
    border-radius: 50%;
    width: 10px;
    height: 10px; 
    border: 2px solid #FF1919;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
    /* width and height can be anything, as long as they're equal */
}

#alert-message {
    background-color: #FFF;
    color: #222;
    border: 2px solid #FF1919;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    font-size: .7em;
    padding: 3px;
}

.circle-blue {
    border-radius: 50%;
    width: 10px;
    height: 10px; 
    border: 2px solid #195AFF;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
    /* width and height can be anything, as long as they're equal */
}

.circle-pos {
    background-color: #EEE;
}


.circle-neg {
    background-color: #222;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
